@media screen and  (max-width : 1406px) {
    #num{
        color: #000 !important;
    }
}

@media screen and (max-width: 1045px) {
    
    
}

@media screen and (max-width: 687px) {
    .header{
        height: calc(100vh + 40px) ;
        background-position: -600px -40px;
    }
    .section{
        padding-top: 0;
    }
    .section-title{
        font-size : 65px;
    }
    .section__inner p{
        margin: 30px 0;
        max-width: 356px;
        font-size: 20px;
    }
}

@media screen and (max-width: 631px) {
    .header{
    }
    .header__title{
        font-size: 25px;
        max-width: 237px;
    }
   .phone__number{
    display: none;
   }
}

@media screen and (max-width: 409px){
    .section-title{
        font-size : 45px;
    }
    .section__inner p{
        margin: 30px 0;
        max-width: 256px;
        font-size: 13px;
    }
}